* {
  margin: 0;
  padding: 0;
  outline: none;
}
body {
  /* background: linear-gradient(45deg, #fc4668, #3f5efb);
     */
  background: url("../../img/team-4864035_960_720.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 30px 30px;
}

form {
  background-color: white;
  padding: 12px 24px;
}
td {
  height: 50px;
}

img {
  height: 150px;
  width: 150px;
  border-radius: 20px;
}

table {
  background-color: white;
}
